<div style="text-align:center">
  <h1>
    Please sign in to access your drive
  </h1>
</div>
<button *ngIf='!isSignedIn()' (click)="signIn()" type="button" class= "btn btn-success">sign in</button>
<div *ngIf='isSignedIn()'>
  <router-outlet></router-outlet>
</div>







<!--<div style="text-align:center">
  <h1>
    Please sign in to access your drive
  </h1>
</div>-->
<!--Displaying buttons-->
<!--<h4 *ngIf="!isLoggedIn()"></h4>
<button *ngIf="!isLoggedIn()" (click)="signIn()" type="button" class="btn btn-success">sign in</button>

<h4 *ngIf="isLoggedIn()"></h4>
<button *ngIf="isLoggedIn()" (click)="signOut()"type = "button" class="btn btn-danger">sign Out</button>

<h4 *ngIf="isLoggedIn()"></h4>
<button *ngIf="isLoggedIn()" (click)="getFiles('root')" type="button" class="btn btn-info">
Get Files
</button>

<h3>{{filesFoundInfo}}</h3>

<ul>
  <li *ngFor="let item of filesData">
    <div *ngIf="item.id">Id: {{item.id}}</div>
    <div *ngIf="item.name">Name: {{item.name}}</div>
    <div *ngIf="item.kind">kind: {{item.kind}}</div>
    <div *ngIf="item.mimeType">Type: {{item.mimeType}}</div>
  </li>
</ul>

<router-outlet></router-outlet>-->
